.events__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 2rem 2rem;
}

.event__card {
  width: auto;
  height: 250px;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.event__card:hover .event__details > * {
  opacity: 1;
}

.event__card:hover .event__details {
  background: rgba(0, 0, 0, 0.5);
}

.event__card:hover .event__banner {
  transform: scale(1.5);
}

.event__details {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px;
  transition: var(--transition);
}

.event__description {
  opacity: 0;
  font-size: 14px;
  margin-bottom: 10px;
}

.event__date {
  font-size: 12px;
}

.event__banner {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: var(--transition);
}

.two__columns {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event__title {
  opacity: 1 !important;
}

.goto {
  padding: 0.4rem 1.2rem !important;
}

.empty__banner {
  transition: var(--transition);
  background: rgba(0, 0, 0, 0.5);
}

.empty__banner:hover {
  background: var(--color-bg-variant);
}

.event__card:hover .plus {
  opacity: 1;
}

.event__card:hover .empty__banner {
  background: var(--color-bg-variant);
}

.plus {
  font-size: 2.5rem;
  opacity: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px;
  transition: var(--transition);
}

@media screen and (max-width: 1024px) {
  .events__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .events__container {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 1.5rem !important;
  }
}
